body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

ul {
  list-style: none none;
  margin: 0;
  padding: 0;
}

ruble:after {
  content: "₽";
}
